.dropdown-menu {
    padding: 0 0 !important;
    min-width: 20px;
}

.fixed-top {
    z-index: 2 !important;
}

#eraseSearch {
    margin-left: -38px;
    position: relative;
    margin-bottom: 10px;
    right: 0px;
    top: 4px;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    outline: none;
    text-align: center;
    padding: 2px;
    opacity: 0.25;
}

.card-deck {
    margin-top: 75px;
}

.navbar-brand {
    margin-left: 70px;
    font-family: 'Damion';
    font-size: 1.8em;
    margin-right: 20px;
    color: #d62e11 !important;
}

a.nav-link.fas {
    color: dimgray !important;
    font-size: 1.3rem;
    margin-left: 15px;
}

a.nav-link:hover {
    color: lightgray !important;
}

main {
    margin-top: 80px;
}

.dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
}

#q {
    width: 200px;
}

.github-corner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

.github-corner svg {
    height: 70px;
    width: 70px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
